//colors

$lightBlue:	hsl(180, 25%, 72%);
$navyBlue: hsl(184, 100%, 28%);
$sunset:hsl(29, 78%, 44%);
$peach: hsl(22, 64%, 58%);
$leather: hsl(9, 43%, 40%);
$dull: 	hsl(353, 13%, 40%);
$darkDull: 	hsl(353, 12%, 28%);
$white: hsl(0,0,95);

//font size

$font-md: 0.875rem; //14px
$font-sm: 0.75rem; //12px